<nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="https://e7.pngegg.com/pngimages/504/457/png-clipart-computer-icons-icon-public-library-books-miscellaneous-presentation.png"
                    alt="">
            </span>

            <div class="text logo-text">
                <span class="name">Clinica</span>
                <span class="profession">"Clinica.Nombre"</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">

            </li>
            <form id="miFormulario" method="post">
                <ul class="menu-links">

                    <button type="submit" name="btnAutor">
                        <li class="nav-link">
                            <a>
                                <i class='bx bx-user icon'></i>
                                <span class="text nav-text">Control de paciente</span>
                            </a>
                        </li>
                    </button>



                </ul>
            </form>
        </div>

        <div class="bottom-content">


            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>

</nav>

<section class="home">
    <div class="text">Clinica</div>
    <div class="container m-5">
        <h1 class="text-center">Mantenimiento Paciente</h1>
        <a routerLink="/nuevo-paciente" type="button" class="btn btn-success btn-opacity">Añadir nuevo paciente</a>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr class="bg-light">
                        <th scope="col">Codigo paciente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of pacientes; index as i">
                        <td class="text2">{{element.IdPaciente}}</td>
                        <td class="text2">{{element.Nombre}}</td>
                        <td class="text2">{{element.Apellidos}}</td>
                        <td class="text2">{{element.FechaNacimiento}}</td>
                        <td class="text2">{{element.Sexo}}</td>
                        <td class="text2">{{element.Peso}}</td>
                        <td class="text2">{{element.Altura}}</td>
                        <td class="text2">
                            <button type="button" class="btn btn-primary" (click)="capturarIndice(i)"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><!--[routerLink]="['/editar-paciente',elemnt.IdPaciente]-->
                                Editar
                            </button>
                            <button type="button" class="btn btn-danger" (click)="eliminar(i)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="this.pacientes.length == 0">
                        <td colspan="11" class="text-center">No hay registros</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar paciente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="restaurar()"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
                            aria-describedby="basic-addon1" [(ngModel)]="this.pacienteEditar.Nombre">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Apellidos"
                            aria-label="Recipient's username" aria-describedby="basic-addon2"
                            [(ngModel)]="this.pacienteEditar.Apellidos">
                    </div>

                    <div class="mb-3">
                        <input type="date" class="form-control" placeholder="Fecha Nacimiento: "
                            aria-label="Fecha Nacimiento" aria-describedby="basic-addon3"
                            [(ngModel)]="this.pacienteEditar.FechaNacimiento">
                    </div>

                    <div class="input-group mb-3">
                        <select class="form-control" name="sexo"
                            [(ngModel)]="pacienteEditar.Sexo">
                            <option value="M" [selected]="this.pacienteEditar.Sexo === 'M'">M</option>
                            <option value="F" [selected]="this.pacienteEditar.Sexo === 'F'">F</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Peso" aria-label="Peso"
                            [(ngModel)]="this.pacienteEditar.Peso">
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Altura" aria-label="Altura"
                            [(ngModel)]="this.pacienteEditar.Altura">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="editar()" data-bs-dismiss="modal">Guardar
                        cambios</button>
                </div>
            </div>
        </div>
    </div>
</section>