<nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="https://e7.pngegg.com/pngimages/504/457/png-clipart-computer-icons-icon-public-library-books-miscellaneous-presentation.png"
                    alt="">
            </span>

            <div class="text logo-text">
                <span class="name">Clinica</span>
                <span class="profession">"Clinica.Nombre"</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">

            </li>
            <form id="miFormulario" method="post">
                <ul class="menu-links">

                    <button type="submit" name="btnAutor">
                        <li class="nav-link">
                            <a>
                                <i class='bx bx-user icon'></i>
                                <span class="text nav-text">Control de paciente</span>
                            </a>
                        </li>
                    </button>



                </ul>
            </form>
        </div>

        <div class="bottom-content">


            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>

</nav>

<section class="home">
    <div class="text">Clinica</div>
    <div class="container m-5">
        <h1 class="text-center">Mantenimiento Paciente</h1>
        <a routerLink="/nuevo-paciente" type="button" class="btn btn-success btn-opacity">Añadir nuevo paciente</a>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr class="bg-light">
                        <th scope="col">Codigo paciente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of pacientes; index as i">
                        <td class="text2">{{element.IdPaciente}}</td>
                        <td class="text2">{{element.Nombre}}</td>
                        <td class="text2">{{element.Apellidos}}</td>
                        <td class="text2">{{element.FechaNacimiento}}</td>
                        <td class="text2">{{element.Sexo}}</td>
                        <td class="text2">{{element.Peso}}</td>
                        <td class="text2">{{element.Altura}}</td>
                        <td class="text2">
                            <a class="btn btn-primary" (click)="editar(i)"><!--[routerLink]="['/editar-paciente',elemnt.IdPaciente]-->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                    </path>
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                    </path>
                                </svg>
                                Editar
                            </a>
                            <a class="fs-6 btn btn-danger" (click)="eliminar(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z">
                                    </path>
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z">
                                    </path>
                                </svg>
                                Eliminar
                            </a>
                        </td>
                    </tr>

                    <tr *ngIf="this.pacientes.length == 0">
                        <td colspan="11" class="text-center">No hay registros</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>