<div class="listar">
  <h2>Listado de Pacientes</h2>

  <div class="conteiner">
    <a routerLink="./crear" type="button" class="btn btn-success btn-opacity my-3">Añadir nuevo paciente
    </a>
    <input type="text" class="form-control mb-2" placeholder="Buscar paciente" #txtBuscar
      (keyup)="onBuscarPaciente(txtBuscar.value)" />

    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Fecha Nacimiento</th>
          <th>Sexo</th>
          <th>Peso</th>
          <th>Altura</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of pacientes | filtro : page:buscar; index as i">
          <td>{{ element.Nombre }}</td>
          <td>{{ element.Apellidos }}</td>
          <td>{{ element.FechaNacimiento }}</td>
          <td>{{ element.Sexo }}</td>
          <td>{{ element.Peso }} kg</td>
          <td>{{ element.Altura }} cm</td>
          <td>
            <button type="button" class="btn btn-primary" style="margin-right: 10px"
              routerLink="./editar/{{ element.IdPaciente }}">
              Editar
            </button>
            <button type="button" style="margin-right: 10px" (click)="eliminar(element.IdPaciente)"
              class="btn btn-danger">
              Eliminar
            </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning"
              (click)="mostrarDetalle(element.IdPaciente)">
              Mas
            </button>
          </td>
        </tr>
        <tr *ngIf="this.pacientes.length == 0">
          <td class="text-center">No hay registros</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
    &nbsp;
    <button class="btn btn-primary" (click)="nextPage()"
      [disabled]="( pacientes | filtro : page:buscar).length===0">Siguientes</button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Detalles Paciente
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"
            (click)="salirModal()"></button>
        </div>

        <div class="modal-body" *ngIf="dataPaciente">
          <p><strong>Id :</strong>{{ dataPaciente.IdPaciente }}</p>
          <p><strong>Nombre :</strong>{{ dataPaciente.Nombre }}</p>
          <p><strong>Apellidos :</strong>{{ dataPaciente.Apellidos }}</p>
          <p>
            <strong>Fecha Nacimiento :</strong>{{ dataPaciente.FechaNacimiento }}
          </p>
          <p><strong>Sexo :</strong>{{ dataPaciente.Sexo }}</p>
          <p><strong>Peso :</strong>{{ dataPaciente.Peso }}</p>
          <p><strong>Altura :</strong>{{ dataPaciente.Altura }}</p>
          <p>
            <strong>Presion Arterial :</strong>{{ dataPaciente.PresionArterial }}
          </p>
          <p>
            <strong>Frecuencia Cardiaca :</strong>{{ dataPaciente.FrecuenciaCardiaca }}
          </p>
          <p><strong>Temperatura :</strong>{{ dataPaciente.Temperatura }}</p>
          <p>
            <strong>Observaciones :</strong>{{ dataPaciente.Observaciones }}
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="salirModal()">
            Salir
          </button>
          <button data-bs-dismiss="modal" type="button"
            class="btn btn-warning" (click)="generarHistorial(dataPaciente.IdPaciente)">
            Historial PDF
          </button>
          <button data-bs-dismiss="modal" routerLink="/diagnostico/crear/{{ this.id }}" type="button"
            class="btn btn-primary">
            Generar Diagnostico
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
""