<nav class="open">
  <div class="sidebar">
    <div class="logo">
      <i class="bx bx-plus-medical icon" style="font-size: 40px; margin-right: 20px"></i>
      <span class="logo-name">Clinica {{ nombre }}</span>
    </div>

    <div class="sidebar-content">
      <ul class="lists">

        <li class="list" *ngFor="let link of menu;">
          <a routerLink="/{{link.path}}" class="nav-link">
            <i class="{{link.icon}}" style="font-size: 35px;"></i>
            <span class="link">{{link.label}}</span>
          </a>
        </li>

        <!-- <li class="list">bx bx-child icon
          <a href="#" class="nav-link">
            <i class='bx bx-clipboard icon' style="font-size: 30px;"></i>
            <span class="link">Diagnostico</span>
          </a>
        </li> -->
        <!-- 
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-bell icon"></i>
            <span class="link">Notifications</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-message-rounded icon"></i>
            <span class="link">Messages</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-pie-chart-alt-2 icon"></i>
            <span class="link">Analytics</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-heart icon"></i>
            <span class="link">Likes</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-folder-open icon"></i>
            <span class="link">Files</span>
          </a>
        </li> -->
      </ul>

      <div class="bottom-cotent">
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-cog icon"></i>
            <span class="link">Configuracion</span>
          </a>
        </li>
        <li class="list">
          <a href="" (click)="cerrarsesion()" class="nav-link">

            <i class="bx bx-log-out icon"></i>
            <span class="link">Cerrar Sesion</span>
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>
