<div class="listar">
  <h2>Listado de Diagnosticos</h2>

  <div class="conteiner">
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Buscar paciente"
      #txtBuscar
      (keyup)="onBuscarPaciente(txtBuscar.value)"
    />
    <table class="table">
      <thead>
        <tr>
          
          <th scope="col">Paciente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Enfermedad</th>
          <th scope="col">Sintomas</th>

          <th scope="col">Tratamiento</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of diagnosticos | filtroD : page:buscar; index as i">
          
          <td>{{ element.id.Nombre +" " + element.id.Apellidos  }}</td>
          <td>{{ element.Fecha }}</td>
          <td>{{ element.Enfermedad }}</td>
          <td>{{ element.Sintomas }}</td>
          <td>{{ element.Tratamiento }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              style="margin-right: 10px"
              routerLink="./editar/{{ element.Id }}"
            >
              Editar
            </button>
            <button
              type="button"
              style="margin-right: 10px"
              (click)="eliminar(element.Id)"
              class="btn btn-danger"
            >
              Eliminar
            </button>
            <button
              type="button"
              class="btn btn-warning"
              (click)="generarPDF(i)"
            >
              PDF
            </button>
          </td>
        </tr>
        <tr *ngIf="this.diagnosticos.length == 0">
          <td colspan="11" class="text-center">No hay registros</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="prevPage()">Anteriores</button>
    &nbsp;
    <button class="btn btn-primary" (click)="nextPage()" [disabled]="( diagnosticos | filtroD : page:buscar).length===0">Siguientes</button>
  </div>
</div>
